* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

body {
    background-color: #7c93c9;
}

/* HEADING */
header {
    text-align: center;
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LIBRARY SECTION */
.library-display {
    padding-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* BOOK CARDS */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    background-color: cornsilk;
    border-radius: 20px;
}

.text-wrapper {
    padding: 10px;
}

.button-wrapper {
    padding: 10px;
    display: flex;
    align-items:last baseline;
    justify-content: center;
    gap: 15px;
}

/* BUTTONS */
.add-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.add-button {
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color:bisque;
    border-width: 5px;
    cursor: pointer;
}